@let data = displayData$ | async;

<div class="container">
  @if (loading$ | async) {
    <div class="loading">Loading bookmarks…</div>
  } @else {
    <div class="header">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Search bookmarks</mat-label>
          <input matInput (input)="onSearch($any($event.target).value)" />
        </mat-form-field>
      </div>

      <button mat-button (click)="addBookmark()" class="add-btn">Add bookmark<mat-icon>add</mat-icon></button>
    </div>

    @for (section of data?.sections; track section.label) {
      @if (section.items?.length > 0) {
        <h3>{{ section.label }}</h3>

        @for (bookmark of section.items; track bookmark.id) {
          <app-bookmark-details
            [bookmark]="bookmark"
            (updated)="onBookmarkUpdated($event)"
            (deleted)="onBookmarkDeleted($event)"
          ></app-bookmark-details>
        }
      }
    }

    @if (data?.empty) {
      <p>No results found.</p>
    }
  }
</div>
