html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h2 {
  font-weight: 500 !important;
}

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px !important;
}
